[Unit]
Description=Jakeloud
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Group=root
ExecStart=/etc/jakeloud/jl -d

[Install]
WantedBy=multi-user.target
